$blue: #0033FF;
$blue-faded: #0033ffe6;
$blue-50: rgba(0, 51, 255, .5);
$dark-blue: #05054D;
$dark-blue-faded: #05054dd7;
$yellow: #FAD922;
$light-yellow: #ffe88e;
$light-grey: #EBF0F5;
$shadow-light-grey: #a2a7ab;
$taloYellow: #fbd923;
$backgroundGrey : #ebf0f5;
$cream: #fffceb;
$soul-green:#6da619;
$triple-brown:#b97f27;
$hale-red:#9c241b;
$christmas-pink:#f65243
